<h1>Anagram Finder</h1>
<form action='/results'>
  <div class="form-group">
    <label for="base_word">What word would you like to check against?</label>
    <input id="base_word" name="base_word" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="word_list">Words you would like to check, separated by spaces:</label>
    <input id="word_list" name="word_list" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
